body
{background-color: rgb(110, 109, 109);
background-image:url("..//images/concrete_image.jpg") ;
/* background-image: url("../images/sell_image.jpg"); */
    color:rgb(7, 7, 7);
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color:#f5f5f5;
}

header{background-color: rgb(163, 80, 12);}
.company_name{color: white;
    text-align: left;}
#mp{display:grid;
    grid-template-columns: 1fr  ;
    width: 90%;
    margin: auto;
background-image: url("../images/sell_image.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;}


.nav_links{    display: flex;
    flex-direction: column;
    
    }    

.skip{top: -60px;
        position: absolute;
    background-color: black;}
    
.skip:focus{top: 60px;
           }
    

           a:link { 
                    
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
        }
        
        a:visited{
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        }
              
        a:hover  {
            background-color: rgb(218, 34, 10);
              }

        a:active{background-color: black;}

        .active{background-color: rgb(68, 66, 65);
            border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    text-decoration:underline ;}

#nav_item_a:active{color: rgb(199, 13, 13);}

#logo{width: 100%;}

header{display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
background-image:url("../images/skyline.jpeg")}


/* h1{display:flex;
justify-content: center;
flex-direction: column;
text-align: center;} */

nav a{display: flex;
flex-direction: row;
align-items: center;
text-align: center;}


.detroit{display:grid;
    grid-row: 5/span 1;
    justify-content: center;
align-items: center;

}
.thumbnail:hover {
    position:relative;
    top:-25px;
 
    
    width:900px;
    height:300px;
    display:block;
    z-index:999;
}

.oak_park{display:grid;
    justify-content: center;
   padding-top: 20px;
   padding-bottom: 20px;

    /* flex-wrap: wrap; */
    align-items: center;}
#locations{ padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;}

#oak_park_pic{
justify-content: center;}

.southfield{display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;}


footer{text-align: center;}


@media screen and (min-width:750px)  {

    .nav_links{   
        flex-direction: row;
        justify-content: center;}

    #mp{display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        width: 90%;
        margin: auto;
    }

    h1{padding-top: 25px;
        text-align: center;
        
    }
    h2{text-align: center;
    }

    p{font: bold;
    font-size: 25px;
line-height: 25px;}


    #intro {line-height: 25px;
        padding-top: 25px;
        grid-column: 1/span 2 ;
        text-align: center;
        padding-bottom: 25px;
    }

     #det_content{
        grid-column: 1/span 2;
        
    grid-row: 4;
    }

    #locations{grid-column: 1/span 2;}
   
    footer{padding-top:20px;
        text-align: center;}
} 




@media screen and (min-width: 1000px) {

    #mp{grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;}

    #par2{display: grid;
    grid-column: 1/span 5;
    line-height: 25px;}

    #locations{display: grid;
    grid-column: 2/span 1;}
    #par3{display: grid;
    grid-row: 3/span 1;
grid-column: 1/span 5;
line-height: 25px;}



    #op_content{width: 100%;
        grid-column: 3/span 1;
    grid-row: 5/span 2;}

    #oak_park_pic{width: 200%;}

    #intro{grid-column: 1/span 5;
    text-align: center;}

    #det_content{grid-column: 2/span 1;
    grid-row: 5/span 1;
padding-right: 20px;}

    .detroit{display: grid;
        justify-content: center;}
    #sf_content{display:grid;
    grid-column: 1/span 1;
padding-right: 20px;
width: 85%;}



    footer{text-align: center;}
    
}

.company_name{ animation: mymove 5s ;}

    @keyframes mymove {
        from {position: relative;
            margin-left: 0%;
            width: 300%;
          opacity: .5;
        
        }
        to {margin-left: 83%;
            width: 100%;
        opacity: 1;}
      }

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
  .company_name{animation: none;}
    /*Turn off transition*/
    .skip a{
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    #mp{
      background-attachment: initial;
    }
  }















